<script>
  if (document.location.pathname.endsWith("allvolunteers.html")) {
    document.location.href="/#allvolunteers";
  }
</script>
<!-- Masthead-->
<header class="masthead shortmasthead">
  <div class="container h-25">
    <div class="col-lg-10 align-self-end">
      <h1 class="text-uppercase text-white font-weight-bold" data-i18n="[html]home_volunteers_seeall">All Volunteers</h1>
    </div>
  </div>
  </div>
</header>
<!-- Volunteers section-->
<section class="page-section" id="volunteers">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0 text-primary" data-i18n="[html]home_head_volunteers">Volunteers</h2>
        <hr class="divider my-4"/>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row justify-content-center" id="volunteersData"></div>
    <!-- Modal for volunteer information -->
    <div class="modal fade" id="volunteerModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-volunteer-name">Volunteer</h4>
            <button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close fa-1x mb-1 text-palette-secondary hoverLink"></i></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-4 display-label" data-i18n="[html]home_volunteers_detail_expertise">Expertise</div>
              <div class="col-8 display-values" id="modal-volunteer-expertise"></div>
            </div>
            <div class="row">
              <div class="col-4 display-label" data-i18n="[html]home_volunteers_detail_contribution">Contribution</div>
              <div class="col-8 display-values" id="modal-volunteer-contribution"></div>
            </div>
            <div class="row">
              <div class="col-4 display-label" data-i18n="[html]home_volunteers_detail_social_media">Social Media</div>
              <div class="col-8 display-values" id="modal-volunteer-social-media"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
