<script>
  if (document.location.pathname.endsWith("homepage.html")) {
    document.location.href="/#homepage";
  }
</script>
<!-- Masthead-->
<header class="masthead">
  <div class="container h-25">
    <div class="col-lg-10 align-self-end">
      <h1 class="text-uppercase text-white font-weight-bold" data-i18n="[html]home_head_your_covid19_risk">Your COVID-19 Risk</h1>
    </div>
    <div class="col-lg-4 align-self-baseline">
      <div class="btn-primary btn-lg mouse-cursor-pointer js-scroll-trigger text-center" id="toolButton" data-i18n="[html]home_head_your_covid19_findout_risk">Find out your risk</div>
    </div>
  </div>
  </div>
</header>
<!-- Welcome/purpose section-->
<section class="page-section" id="welcome">
  <div class="container">
    <h2 class="text-center text-primary mt-0" data-i18n="[html]home_head_welcome">Welcome/Purpose</h2>
    <hr class="divider my-4"/>
    <div class="row">
      <h4 class="offset-lg-2 col-lg-8 col-12 text-white mt-2" data-i18n="[html]home_welcome_intro">Welcome to the Your COVID-19 Risk tool!</h4>
      <br/>
    </div>
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-12">
        <p class="text-white mb-0" data-i18n="[html]home_welcome_text1">
          The purpose of this calculator is to provide you with an estimate of the "additional risk" you may be putting
          yourself at - and those around you - of contracting and spreading COVID-19.
        </p>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-12">
        <p class="text-white mb-0" data-i18n="[html]home_welcome_text2">
          By "additional risk" we mean risk factors over which we all may have some form of control.
          This means the calculator does not include risks related to underlying health conditions - for risks specifically related to current health status, clinical
          calculators exist *hyperlink to other calculator*
        </p>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-12">
        <p class="text-white mb-0" data-i18n="[html]home_welcome_text3">
          The tool does not include risks related to underlying health conditions.
        </p>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-12">
        <p class="text-white mb-0" data-i18n="[html]home_welcome_text4">
          <a href="#othertools">Other tools</a> already exist for this purpose.
        </p>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="mt-5">
          <div class="text-center">
            <i class="fas fa-4x fa-user-check text-palette-primary mb-4"></i>
          </div>
          <h3 class="h4 mb-2 height-4 div-align-center" data-i18n="[html]home_who_is_it_header">Who is it for?</h3>
          <p class="text-white mb-0" data-i18n="[html]home_who_is_it_text1">Would you like to:</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_who_is_it_text2">✔ check what category of risk you fit in?</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_who_is_it_text3">✔ check what you could do to be safer?</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_who_is_it_text4">Or would you like to:</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_who_is_it_text5">✔ help develop government and public guidance by telling us what you are doing right now?</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_who_is_it_text6">Then this tool is for you.</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_who_is_it_text7"></p>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="mt-5">
          <div class="text-center">
            <i class="fas fa-4x fa-search text-palette-primary mb-4"></i>
          </div>
          <h3 class="h4 mb-2 height-4 div-align-center" data-i18n="[html]home_what_based_header">What’s behind it and how does it work?</h3>
          <p class="text-white mb-0" data-i18n="[html]home_what_based_text1">The tool is based on key behavioural risk factors related to <strong>contracting and spreading the virus</strong> published in scientific articles since COVID-19's first appearance in December 2019.</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_what_based_text2">You will be asked several questions about your situation right now that relate to these factors.</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_what_based_text3">Find out more about the <a href="#theory">Theory</a> and <a href="#riskmodel">Risk Model</a> behind the tool.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="mt-5">
          <div class="text-center">
            <i class="fas fa-4x fa-user-shield text-palette-primary mb-4"></i>
          </div>
          <h3 class="h4 mb-2 height-4 div-align-center" data-i18n="[html]home_what_happens_header">What will happen to your answers?</h3>
          <p class="text-white mb-0" data-i18n="[html]home_what_happens_text1">The tool does not ask for identifiable information, which means that you will always remain anonymous.</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_what_happens_text2">The data will be stored in an Open Access data repository. This means that the data will be available for free at all times for anyone to use. Keep in mind, no one will be able to link any of these data to you.</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_what_happens_text3">These anonymous data will be available for research and guidance development to help prevent the spread of the coronavirus.</p><br/>
          <p class="text-white mb-0" data-i18n="[html]home_what_happens_text4">If you would like to know more about how your data is handled and processed, have a look <a href="#data">here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Information section-->
<section class="page-section bg-white text-secondary" id="information">
  <div class="container">
    <h2 class="text-center mt-0" data-i18n="[html]home_head_information">Information</h2>
    <hr class="divider my-4"/>
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <div class="mt-5">
          <a class="d-inline" href="#riskmodel">
            <i class="fas fa-4x fa-dna text-palette-primary mb-4"></i>
            <h3 class="h4 mb-2" data-i18n="[html]home_risk_model">The Risk Model</h3>
            <p class="text-blue mb-0" data-i18n="[html]home_risk_model_explained">Our Risk Model Explained</p>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center">
        <div class="mt-5">
          <a class="d-inline" href="#theory">
            <i class="fas fa-4x fa-brain text-palette-primary mb-4"></i>
            <h3 class="h4 mb-2" data-i18n="[html]home_theory">The Theory</h3>
            <p class="text-blue mb-0" data-i18n="[html]home_theory_behind">The theory behind this tool</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Volunteers section-->
<section class="page-section" id="volunteers">
  <script src="js/volunteers.js"></script>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0 text-primary" data-i18n="[html]home_head_volunteers">Volunteers</h2>
        <hr class="divider my-4"/>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row justify-content-center" id="volunteersData"></div>
    <br/>
    <div class="text-center text-white">
      <a href="#allvolunteers">
        <h4 data-i18n="[html]home_volunteers_seeall">All volunteers</h4>
      </a>
    </div>
    <!-- Modal for volunteer information -->
    <div class="modal fade" id="volunteerModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-volunteer-name">Volunteer</h4>
            <button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close fa-1x mb-1 text-palette-secondary hoverLink"></i></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-4 display-label" data-i18n="[html]home_volunteers_detail_expertise">Expertise</div>
              <div class="col-8 display-values" id="modal-volunteer-expertise"></div>
            </div>
            <div class="row">
              <div class="col-4 display-label" data-i18n="[html]home_volunteers_detail_contribution">Contribution</div>
              <div class="col-8 display-values" id="modal-volunteer-contribution"></div>
            </div>
            <div class="row">
              <div class="col-4 display-label" data-i18n="[html]home_volunteers_detail_social_media">Social Media</div>
              <div class="col-8 display-values" id="modal-volunteer-social-media"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact section-->
<section class="page-section bg-white text-secondary" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0" data-i18n="[html]home_head_contact">Contact</h2>
        <hr class="divider my-4"/><br/>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-3 col-6 col">
        <a class="d-inline" id="emailButton"><i class="far fa-envelope fa-3x mb-3 text-palette-primary hoverLink"></i></a>
        <br/>
        <a class="d-inline" id="emailText" data-i18n="[html]home_head_info">Information</a>
      </div>
      <div class="col-lg-3 col-6">
        <a class="d-inline" href="#press"><i class="far fa-newspaper fa-3x mb-3 text-palette-primary hoverLink"></i></a>
        <br/>
        <a class="d-inline" href="#press" data-i18n="[html]home_head_press">Press</a>
      </div>
      <div class="col-lg-3 col-6">
        <a class="d-inline" href="https://twitter.com/yourCOVID19risk" target="_blank"><i class="fab fa-twitter-square fa-3x mb-3 text-palette-primary hoverLink"></i></a>
        <br/>
        <a class="d-inline" href="https://twitter.com/yourCOVID19risk" target="_blank" data-i18n="[html]home_head_twitter">Twitter</a>
      </div>
      <div class="col-lg-3 col-6">
        <a class="d-inline" href="https://facebook.com/yourcovid19risk/" target="_blank"><i class="fab fa-facebook-square fa-3x mb-3 text-palette-primary hoverLink"></i></a>
        <br/>
        <a class="d-inline" href="https://facebook.com/yourcovid19risk/" target="_blank" data-i18n="[html]home_head_facebook">Facebook</a>
      </div>
    </div>
  </div>
</section>
